In [1]:
import pandas as pd

#### Load customer purchase data from a CSV file

In [2]:
data = pd.read_csv("Customer_Purchase\online_retail.csv")

#### Step 1: Keep the required columns

In [3]:
data = data[['Customer ID', 'InvoiceDate', 'Description', 'Quantity', 'Price']]

#### Step 2: Set the column names according to convenience

In [4]:
data.rename(columns = {'Description':'Product_Name', 'InvoiceDate':'Purchase_Date', 'Customer ID': 'Customer_ID'}, inplace = True)

#### Step 3: Convert Purchase Date to a datetime format

In [5]:
data['Purchase_Date'] = pd.to_datetime(data['Purchase_Date'])

#### Step 4: Remove duplicates

In [6]:
data = data.drop_duplicates()

#### Step 5: Handle missing data
#### Fill missing Quantity values with the mean

In [7]:
data['Quantity'].fillna(data['Quantity'].mean(), inplace=True)

,Customer_ID,Purchase_Date,Product_Name,Quantity,Price
0,13085.0,2009-12-01 07:45:00,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,6.95
1,13085.0,2009-12-01 07:45:00,PINK CHERRY LIGHTS,12,6.75
2,13085.0,2009-12-01 07:45:00,WHITE CHERRY LIGHTS,12,6.75
3,13085.0,2009-12-01 07:45:00,"RECORD FRAME 7"" SINGLE SIZE",48,2.10
4,13085.0,2009-12-01 07:45:00,STRAWBERRY CERAMIC TRINKET BOX,24,1.25
...,...,...,...,...,...
1067366,12680.0,2011-12-09 12:50:00,CHILDREN'S APRON DOLLY GIRL,6,2.10
1067367,12680.0,2011-12-09 12:50:00,CHILDRENS CUTLERY DOLLY GIRL,4,4.15
1067368,12680.0,2011-12-09 12:50:00,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15
1067369,12680.0,2011-12-09 12:50:00,BAKING SET 9 PIECE RETROSPOT,3,4.95
1067370,12680.0,2011-12-09 12:50:00,POSTAGE,1,18.00

#### Step 6: Normalize product names

In [8]:
data['Product_Name'] = data['Product_Name'].str.lower()

#### Step 7: Save the processed data to csv

In [9]:
data.to_csv('purchase_history.csv')

#### Step 8: Aggregate data to create a six-month purchase history for each customer

In [13]:
purchase_history = data.groupby(['Customer_ID', pd.Grouper(key='Purchase_Date', freq='M')])['Product_Name'].count().unstack().fillna(0)

#### Step 9: Reset the index and convert NaN values to 0

In [14]:
purchase_history.reset_index(inplace=True)
purchase_history.fillna(0, inplace=True)

#### Display the processed data

In [16]:
purchase_history

Purchase_Date,Customer_ID,2009-12-31 00:00:00,2010-01-31 00:00:00,2010-02-28 00:00:00,2010-03-31 00:00:00,2010-04-30 00:00:00,2010-05-31 00:00:00,2010-06-30 00:00:00,2010-07-31 00:00:00,2010-08-31 00:00:00,...,2011-03-31 00:00:00,2011-04-30 00:00:00,2011-05-31 00:00:00,2011-06-30 00:00:00,2011-07-31 00:00:00,2011-08-31 00:00:00,2011-09-30 00:00:00,2011-10-31 00:00:00,2011-11-30 00:00:00,2011-12-31 00:00:00
0,12346.0,5.0,5.0,0.0,5.0,0.0,0.0,28.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12347.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,24.0,0.0,18.0,0.0,22.0,0.0,47.0,0.0,11.0
2,12348.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
3,12349.0,5.0,0.0,0.0,0.0,46.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73.0,0.0
4,12350.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5937,18283.0,0.0,0.0,40.0,79.0,0.0,0.0,0.0,0.0,39.0,...,0.0,55.0,37.0,100.0,55.0,0.0,47.0,38.0,209.0,50.0
5938,18284.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5939,18285.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5940,18286.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5941,18287.0,1.0,0.0,0.0,0.0,0.0,54.0,0.0,0.0,0.0,...,0.0,0.0,29.0,0.0,0.0,0.0,0.0,41.0,0.0,0.0